.nav{
    grid-area: nav;
  
    background-color: #FB6107;
}
.item{
    
    margin: 15px 0 15px 25px;
}
.item a{

    font-size: 24px;
    text-decoration: none;

}
.item a.active{
    color: red;
    
}
.active{
    color: chartreuse;
}