.avatar{
    width: 150px;
    height: 150px;

    background-image: url("https://vahrushi.el43.ru/lyustri/ef0e27f5a8bf73583a680da7f20ef5e9.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}