.conteiner{
    display: grid;

    grid-template-areas:
    "dialog message";

    grid-template-columns: 1fr 3fr;
}
.dialog_items{
    grid-area: dialog;

    border-right: 2px solid black;
}
.message_items{
    grid-area: message;
}